<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado</title>
</head>
<body>
    <table>
        <thead>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Carrera</th>
        </thead>
        <th:block th:each="estudiante,row : ${studentList}">
            <tr>
                <th th:text="${estudiante.nombre}"></th>
                <th th:text="${estudiante.apellido}"></th>
                <th th:text="${estudiante.carrera}"></th>
            </tr>
        </th:block>
    </table>
</body>
</html>